In [6]:
# Imports
import pandas as pd
import os

In [7]:
# book crossing dataset
books = pd.read_csv(os.path.join("data", "book-crossing", "books.csv"), sep = ";", error_bad_lines = False, encoding = "latin-1")
books.drop(["Publisher", "Image-URL-S", "Image-URL-M", "Image-URL-L"], axis = 1)

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
c:\users\juand\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ISBN,Book-Title,Book-Author,Year-Of-Publication
0,0195153448,Classical Mythology,Mark P. O. Morford,2002
1,0002005018,Clara Callan,Richard Bruce Wright,2001
2,0060973129,Decision in Normandy,Carlo D'Este,1991
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999
...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988
271356,0525447644,From One to One Hundred,Teri Sloat,1991
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004
271358,0192126040,Republic (World's Classics),Plato,1996
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000

In [8]:
# book crossing dataset
ratings = pd.read_csv(os.path.join("data", "book-crossing", "ratings.csv"), sep = ";",encoding = "latin-1")
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [10]:
# book crossing dataset
users = pd.read_csv(os.path.join("data", "book-crossing", "users.csv"), sep = ";",encoding = "latin-1")
users

Empty DataFrame
Columns: [bplist00Ã“\NSURLNameKey_NSURLFileSizeKey_NSURLFileResourceTypeKeyYusers.csv]
Index: []

In [5]:
# goodbooks dataset
books = pd.read_csv(os.path.join("data", "goodbooks", "books.csv"))
books

FileNotFoundError: [Errno 2] No such file or directory: 'data\\goodbooks\\books.csv'

In [38]:
# goodbooks dataset
ratings = pd.read_csv(os.path.join("data", "goodbooks", "ratings.csv"))
ratings

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
5976474    49925      510       5
5976475    49925      528       4
5976476    49925      722       4
5976477    49925      949       5
5976478    49925     1023       4

[5976479 rows x 3 columns]

In [39]:
# goodbooks dataset
to_read = pd.read_csv(os.path.join("data", "goodbooks", "to_read.csv"))
to_read

        user_id  book_id
0             9        8
1            15      398
2            15      275
3            37     7173
4            34      380
...         ...      ...
912700    39374     1049
912701    10492     5180
912702    21879     4827
912703    21879     6642
912704    48192     7773

[912705 rows x 2 columns]